.container {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 20px;
    background-color: rgb(255, 255, 255);
      
    .Überschrift {
       background-color: #a86f6f;
       color:#95d1b5 ;
       text-align: center;
       text-decoration-line: underline;
       font-family: sans-serif;
       font-weight: 800;
       text-transform: uppercase;
       font-size: 120px;
       letter-spacing: 8px;
       text-shadow: 0rem 0rem 0.2rem #000000;
    }

    .menu-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 4vw;
        margin: 2.2vw;
        align-items: center;
        text-align: center;


        .item1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: center;
            height: 13vw;
            width: auto;
            padding: 0.2vw;
            background-color: #ffffff;
            transform-style: flat;
            border-radius: 6px;
            transition: all 1s ease-in-out;

            &:hover {
                transform: skew(7.5deg, 0deg);
                box-shadow: -0.75rem 0.75rem 2rem rgba(0,0,0,0.5);
            }
            &:not(:hover) {
                transform: skew(15deg, 1deg);
                box-shadow: -1.5rem 1.5rem 2rem rgba(0,0,0,0.5);
            }
            
            .menu1-1 > a, .menu1-2 > a {
                background-color: #DCE1DE;
                color: #49A078;
                display: inline-block;
                border-radius: 6px;
                font-size: 2vw;
                margin: 0.5vw;
                padding: 5vw 5.5vw;
                border: 2px solid #49A078 ;
                box-shadow: 0rem 0.1rem 0.5rem rgba(0,0,0,0.5);
                overflow: hidden;
                transition: all 0.4s ease-in-out;
                &:hover {
                    color: #216869;
                    transform: scale(1.05);
                    background-color: #B9D5BD;
                    border: 2px solid #216869;
                    box-shadow: -0.1rem 0.1rem 0.5rem rgba(0,0,0,0.75);
                    border-radius: 20px;
                }
            }
        }


        .item2 {
            background-color: rgb(255, 255, 255);
            align-items: center;
            justify-content: center;
            height: 13vw;
            width: auto;
            border-radius: 6px;
            box-shadow: 0rem 0.5rem 3rem rgba(0,0,0,0.5);
            transition: all 0.4s ease-in-out;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0rem 0.5rem 3rem rgba(0,0,0,0.75);
            }

            .imgm {
                height: 90%;
                width: 90%;
                object-fit: contain;
                align-self: center;
                /* filter: blur(1.5rem); */
            }
        }


        .item3 {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: center;
            height: 13vw;
            width: auto;
            padding: 0.2vw;
            background-color: #ffffff;
            transform-style: flat;
            border-radius: 6px;
            transition: all 1s ease-in-out;

            &:hover {
                transform: skew(-7.5deg, 0deg);
                box-shadow: 0.75rem 0.75rem 2rem rgba(0,0,0,0.5);
            }
            &:not(:hover) {
                transform: skew(-15deg, -1deg);
                box-shadow: 1.5rem 1.5rem 2rem rgba(0,0,0,0.5);
            }

            .menu2-1 > a, .menu2-2 > a {
                background-color: #DCE1DE;
                color: #49A078;
                display: inline-block;
                border-radius: 6px;
                font-size: 2vw;
                margin: 0.5vw;
                padding: 5vw 5.5vw;
                border: 2px solid #49A078 ;
                box-shadow: 0rem 0.1rem 0.5rem rgba(0,0,0,0.5);
                transition: all 0.4s ease-in-out;
                &:hover {
                    color: #216869;
                    transform: scale(1.05);
                    background-color: #B9D5BD;
                    border: 2px solid #216869;
                    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0,0,0,0.75);
                    border-radius: 20px;
                }
            }
        }
    }

    .Inhalt {
        background-color: chocolate;
    }
}